@import '_reset.scss';

body{
    background-color: aqua;
    height: 100vh;
    padding: 30px;
}

.add{
    height: 20%;
    background-color: blueviolet;

    &__title{
        font-size: 25px;
        padding: 3% 20px;
    }

    form{
        padding: 0px 20px;
        

    }

    &__input{

    }

    &__btn{
        color: white;
        background-color: blue;
        border: none;
        height: 30px;

        &:hover{
            box-shadow: 2px 2px 12px rgb(28, 28, 90);
        }
    }
}

.activities{
    width: 100%;
    background-color: bisque;
    height: 80%;
    display: flex;
    justify-content: space-around;
    & section{
        width: 33%;
        height: 100%;
        background-color: chartreuse;
        border: black;
    }
}